.login_logout_wrapper {
  text-align: right;
}

.wrapper.restaurant_input, .wrapper.restaurant_confirm, .wrapper.restaurant_index, .wrapper.restaurant_show {
  margin-top: 0;
}
 
.restaurant_confirm {
  tr.image {
   img {
     max-width: 380px;
     max-height: 380px;
   }
  }
}
 
ul.genre_list {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    color: white;
    background-color: #535353;
    border-radius: 8px;
    margin-right: 3px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.wrapper.restaurant_index, .wrapper.restaurant_show {
  width: 95%;
}

.wrapper.restaurant_index {
  .new_restaurant {
    margin-bottom: 15px;
  }

  .search_wrapper {
    vertical-align: top;

    ul {
      list-style: none;
      padding: 0;
      li {

      }
    }
  }

  .restaurant_list_count {
    margin-bottom: 10px;
  }

  .restaurant_list {
    .per_restaurant {
      border: 1px solid;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 5px;

      .name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
     .content {
        > div {
          float: left;
        }

        .image {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .genres {

        }
      }
    }
  }
}

.wrapper.restaurant_show {
  .name {
    float: left;
    font-size: 18px;
  }
  
  .operation_restaurant {
    float: right;
  }
  
  .big_image {
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  ul.small_images {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
    }
    img {
      width: 100px;
      height: 100px;
      margin: 15px;
    }
  }
  
  .info {
    > div {
      margin-bottom: 10px;
    }
    label {
      margin-right: 15px;
    }
  }
}